.content{
    display: flex;
    height: calc(100vh - 75px);
    background-color: #a0d2f0;
    justify-content: space-between ;
    /* height: 110vh; */
}

.div-img-login{
    margin-top: 5em;
}

.div-wrapper-img{
    margin-left: 15em;
    margin-right: 5em;
}

.img-login{
    height: 45em;
}


.div-card-login {

}


.card-login{
    /* margin-right: 10em; */
    width: 40em;
    height: calc(100vh - 75px);
    text-align: left;
    border-radius: 0;
    width: 60em;
}


/* Div que envolve o conteúdo interno do Card Login */
.card-login{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

/* Conteúdo interno do Card Login */
.p-card-body{
    margin-top: 150px;
    margin-right: 5em;
    height: fit-content;
    /* background-color: black; */
}

.floatLabel-submit-email{
    margin-bottom: 30px;
    margin-top: 30px;
}

.text-submit-email {
    width: 20em;
}

.p-icon-field .p-password-input{
    width: 20em;
}

.p-icon-field > .p-input-icon {
    margin-top: -0.65rem;
    margin-right: 0.2rem;
}

.btn-entrar{
    width: 250px;
    background-color: #01316f;
    border-color: #01316f;
    transition: all 0.2s
}

.btn-entrar:hover{
    /* opacity: 93%; */
  filter: brightness(1.17);
  transform: scale(1.01);
}