.container-registro {
  display: flex;
  min-height: 100vh;
}
.container-registro > div {
  flex: 1 1 50%;
  min-width: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .container-registro {
    flex-direction: column;
  }
  .container-registro > div {
    min-height: 50vh;
    flex-basis: 100%;
  }
}

.slide-enter {
  opacity: 0;
  transform: translateX(60px);
  z-index: 0;
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms cubic-bezier(0.7,0.2,0.3,1.0);
  z-index: 1;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 500ms cubic-bezier(0.7,0.2,0.3,1.0);
  z-index: 0;
}

